doctype html
html
  head
    block head
      title VKT Voter by vankia
      link(rel='stylesheet', href='/stylesheets/style.css')
      link(rel='shortcut icon', href='/images/vote-one.png', type='image/x-icon')
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

      // HTML Meta Tags
      meta(name="description", content="VKT Voter is a web portal created to interact with the VKT Mainnet blockchain and provides services such as monitoring, voting and staking. It uses the scatter browser client to store you private information and does not keep any of your personal information in the server.")

      // Google / Search Engine Tags
      meta(itemprop="name", content="VKT Voter by vankia")
      meta(itemprop="description", content="VKT Voter is a web portal created to interact with the VKT Mainnet blockchain and provides services such as monitoring, voting and staking. It uses the scatter browser client to store you private information and does not keep any of your personal information in the server.")
      meta(itemprop="image", content="http://tracker.devicexx.com/assets/logo.png")

      // Facebook Meta Tags
      meta(property="og:url", content="http://www.vankia.io")
      meta(property="og:type", content="website")
      meta(property="og:title", content="VKT Voter by vankia")
      meta(property="og:description", content="VKT Voter is a web portal created to interact with the VKT Mainnet blockchain and provides services such as monitoring, voting and staking. It uses the scatter browser client to store you private information and does not keep any of your personal information in the server.")
      meta(property="og:image", content="http://tracker.devicexx.com/assets/logo.png")

      // Twitter Meta Tags
      meta(name="twitter:card", content="summary_large_image")
      meta(name="twitter:title", content="VKT Voter by vankia")
      meta(name="twitter:description", content="VKT Voter is a web portal created to interact with the VKT Mainnet blockchain and provides services such as monitoring, voting and staking. It uses the scatter browser client to store you private information and does not keep any of your personal information in the server.")
      meta(name="twitter:image", content="http://tracker.devicexx.com/assets/logo.png")

      // Meta Tags Generated via http://heymeta.com

      script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-117395304-2")
      script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-117395304-2');



  body
    block content
